version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NETWORK=boba-sepolia
    image: bobanetwork/aa-hc-example-frontend
    ports:
      - "8000:80"
    restart: unless-stopped
networks:
  default:
    name: aa-hc-network